* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

:root {
  --green: #98ca3f;
  --drakblue: #121f3d;
  --lightblue: #24385b;
  --skyblue: #0791e6;
  --white: #eff3f8;
  --gray: #8da2c0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  
  background-color: var(--drakblue);
  color: var(--white);
}

.title-subtitle {
  font-family: 'Crimson Text', serif;

  width: fit-content;
  margin: 4rem auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3.8rem;

  display: flex;
  align-items: baseline;
}
.ikilear {
  font-size: 2.6rem;
}

.subtitle {
  font-size: 1.6rem;
  width: fit-content;
  padding-left: 1rem;
}

.logo {
  width: 20rem;
  margin: 9rem auto 6.7rem;
}

.logo img {
  width: 100%;
}

.schools {
  list-style-type: none;
  position: absolute;
  right: 0;
  left: 0;
  
  top: 12rem;
  
  width: 60rem;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mini {
  width: 14rem;
  text-align: center;
}

.school a {
  text-decoration: none;
  color: var(--gray);

  padding: 1rem;
  margin: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Align schools around */
.s1 { margin-left: 10rem; }
.s3 { margin-left: 6rem; }
.s5 { margin-left: 1rem; }
.s7 { margin-left: 3rem; }
.s9 { margin-left: 10rem; }

.s2 { margin-right: 8rem; }
.s4 { margin-right: 4rem; }
.s6 { margin-right: 4rem; }
.s8 { margin-right: 2rem; }
.s10 { margin-right: 8rem; }

a strong {
  color: var(--skyblue);
  text-decoration-color: var(--skyblue);
}

/* Underline only in strong */
.school a:hover > strong{
  background-color: var(--lightblue);
  text-decoration: underline;
}
.school a:hover{
  background-color: var(--lightblue);
}

.search-box {
  border: 1px solid var(--lightblue);
  border-radius: 0.3rem;
  width: 45rem;

  margin: 0 auto 0;

  display: flex;
  align-items: center;
}

.search-input {
  /* Quitar estilos */
  border: 0.2rem solid transparent;
  background-color: transparent;
  resize: none;
  outline: none;

  color: var(--white);
  height: 4.2rem;

  font-size: 1.6rem;
  flex-grow: 1;
  padding: 0 2rem;
}

.lang {
  color: var(--gray);
  font-size: 1.4rem;
  cursor: pointer;

  height: 3rem;
  padding: .5rem;
  margin: 0 1rem;
}

button {
  border: none;
  outline: none;

  cursor: pointer;

  background-color: var(--skyblue);
  width: 5.5rem;
  height: 4.4rem;
  padding: 1.2rem 0;
}

button img {
  height: 100%;
}

/* Language selector */
.language {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  background-color: var(--lightblue);
  height: 0.1rem;
}

.language .line {
  width: 7rem;
}

.lang-selector {
  background-color: var(--lightblue);
  border: 0.1rem solid var(--gray);
  border-radius: 0.3rem;
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;

  width: 27rem;
  height: 3.6rem;

  margin: 3.2rem 2rem;
  padding: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tl-icon {
  display: flex;
  margin-right: 1rem;
}
.up { margin-top: -0.5rem; }
.down { margin-top: 0.3rem; }

main .line {
  margin: 0 2rem;
}

/* ****************************** */
/* *********** FOOTER *********** */
/* ****************************** */
footer {
  color: var(--gray);
  font-size: 1.4rem;
  
  padding: 4rem 0 0 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.desc-app { 
  width: 33rem;
}

/* ********* DESCRIPTION ******** */
.description {
  padding: 2rem;

  display: flex;
}

.description img {
  width: 4rem;
  height: 4rem;
}

.description p {
  padding: 0 0 0 2rem;
}

/* ******* DOWNLOAD APP ******* */
.dowload-app {
  background-color: var(--lightblue);
  margin: 1rem;
  padding: 1rem;

  display: flex;
  justify-content: start;
}

/* App icon */
.icon-app {
  width: 4.5rem;
  min-width: 4.5rem;
  height: 4.5rem;
  border-radius: 0.8rem;
  overflow: hidden;
  /* shadow */
  box-shadow: 0 0 0.3rem 0 var(--white);
}
.icon-app img { width: 100%; }

/* Texto */
.text {
  width: auto;
  padding: 0 0 0 2rem;
}
.text span {
  font-weight: bold;
}
.text p {
  margin: 1.5rem 0 1rem;
}

.stores {
  width: 16rem;
  height: auto;

  display: flex;
  flex-direction: column;
}
.stores img { 
  width: 100%; 
  cursor: pointer;
}
.ps { margin-left: -1rem; }
.as { margin: -1.6rem 0 0 -1.7rem; }

/* ********* OTHERS SCHOOLS ******** */
.others-schools {
  text-decoration: none;
  width: 55vw;
  height: fit-content;
  padding: 2rem 0;

  min-width: 60rem;

  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.other-school {
  width: 30%;
  /* height: 7rem; */
  margin: 0 1rem 1rem;
  padding: 1rem;

  min-width: 18rem;
  min-height: 7rem;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.other-school:hover {
  background-color: var(--lightblue);
}

.school-icon {
  width: 4rem;
  min-width: 4rem;
}
.school-icon img {
  width: 100%;
}

.info {
  width: auto;
  padding: 0 1rem;

  text-decoration: none;

  display: flex;
  flex-direction: column;
}

.info span{
  color: var(--gray);
}

.info span:first-child {
  color: var(--skyblue);
}

footer .line {
  width: 90%;
  margin: 0 2rem;
}

.end-footer {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.end-footer a {
  text-decoration: none;
}

.dot {
  margin: 0 0.8rem;
}

.cabos { 
  color: white;
  font-weight: bold;
  background-color: #0c8f63;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.cabos:hover {
  color: #0c8f63;
  background-color: white;
}

.platzi { color: var(--green); }
.wikipedia { color: #d1d1d1; }